.menu {
	width: 0px;
	height: 0px;

	&,
	div {
		position: relative;
		overflow: visible;
	}

	>#topbar {
		width: 100vw;
		display: flex;
		height: 45px;
		padding: 5px;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-start;
		gap: 5px;
		justify-content: space-around;
		left: 0;
		top: 0px;
		background-color: #07344e;

		.resource {
			width: 50px;
			height: 20px;
		}
	}

	>#sidebar {
		width: fit-content;
		height: fit-content;
		top: 0px;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		>button {
			background-color: white;
			width: 40px;
			height: 40px;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}

		#mining {
			margin-top: 10px;
		}

		#production {
			width: 40px;
		}

		#energy {
			width: 40px;
		}

		#weaponry {
			width: 40px;
		}

		#logic {
			width: 40px;
		}

		#utility {
			width: 40px;
		}

		#storage {
			width: 40px;
		}
	}
}